img {
 max-width: 100%;
 height: auto;
}

header{
 width: 100%;
 color: white;
 background-color: black;
 font-size: 15px;
 overflow: hidden;
}

header ul li{
 float: left;
 list-style: none;
 padding-left:40px;
 padding-bottom: 10px;
}

main{
 clear: both;
}

.main-container{
 width: 95%;
 margin: 0 auto;
 margin-top:0px;
}

.left{
float: left;
width: 70%;
margin-top: 2px;
margin-bottom: 40px;
}

.left h2{
border-left:5px solid black;
border-bottom:2px solid black;
padding-left: 10px;
}

.article{
float: left;
background-color: lightgray;
width: 90%;
text-align: center;
padding-top: 20px;
vertical-align: text-top;
}

.article img{
clear: both;
width: 180px;
margin: 6% 3% -3% 3%;
}
.article .box1{
margin-top: 1%
width: 20%;
display: inline-block;
vertical-align: top;
}

.article .box2{
vertical-align: top;
width: 20%;
display: inline-block;
}

.right{
float: left;
width: 25%;
margin-left: 5%;
margin-top: 10px;
margin-bottom: 10px;
}

.right h3{
border-bottom:2px dotted gray;
margin-bottom:-8px;
}

.right ul li{
margin-left: -35px;
margin-top: -10px;
list-style: none;
}

footer{
clear: both;
width: 100%;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
color: white;
background-color: black;
}